{%extends 'Partials/base.html'%}

{%block title%}Change Password{%endblock%}

{% block content %}

  <div class="container mt-4">

    <div class="p-4 m-4">


        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            <h3>Change Password</h3>
            <hr>
            </div>
            <form action="" method="POST">

                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                <!-- old_password -->
                <div class="form-group">
                    <label for="">Enter Old Password</label>
                    <input required type="password" name="oldpassword"
                     id="" class="form-control" 
                     placeholder="********">
                </div>

                 <!-- new_password -->
                <div class="form-group">
                    <label for="">Enter New Password</label>
                    <input required type="password" name="newpassword"
                     id="" class="form-control" 
                     placeholder="********">
                </div>

                <hr>
                <div class="form-group">
                    <input class="btn btn-sm btn-info" type="submit" value="Change Password">
                </div>


            </form>
        </div>
    </div>
</div>
{%endblock%}
