{%extends 'Partials/base.html'%}

{%block title%}Profile{%endblock%}

{% block content %}

  <div class="container">
     <div class="border rounded p-4 m-4">
          <p class="display-4 pl-4 ml-4">Edit Profile</p>

      <hr>
	<div class="row">
      <h3>Personal info</h3>
        <form action="" method="POST">{% csrf_token %}
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-lg-6 control-label">First name:</label>
              <div class="col-lg-8">
                <input class="form-control" name="first_name" type="text" value="{{customer.first_name}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-6 control-label">Last name:</label>
              <div class="col-lg-8">
                <input class="form-control" name="last_name"type="text" value="{{customer.last_name}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-6 control-label">Phone:</label>
              <div class="col-lg-8">
                <input class="form-control" name="phone" type="text" value="{{customer.phone}}">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-6 control-label">Email:</label>
              <div class="col-lg-8">
                <p>{{customer.email}}</p>
              </div>
            </div>
            <div class="form-group">
                <input class="btn btn-sm btn-info" type="submit" value="Update">
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>
{%endblock%}
