{%extends 'Partials/base.html'%}
{%block title%}
INDEX PAGE
{%endblock%}

{%block content%}
{% load cart%}
{% load custom_filter%}
<div class="container-fluid">
	<div>
			<!--filter -->

			<div class="dropdown mt-3 ml-2">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
			    Filters
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  	<a href="/" class="dropdown-item">All Products</a>
			  	{%for category in categories%}
				  <a href="/?category={{category.id}}" class="dropdown-item">{{category.name}}</a>
				  {%endfor%}

			  </div>
			</div>

			<!-- <div class="col-lg-3 mx-auto">
				<ul class="list-group mt-3">
					<a href="/" class="list-group-item list-group-item-action">All Products</a>
					{%for category in categories%}
				  <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
				  {%endfor%}
				</ul>
			</div> -->
			<!--all products -->
			<div id ="products" class=" mx-auto">
				<div class="row mx-auto mt-3">
					{%for product in products%}
					<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
						<img src="{{product.image.url}}" class="card-img-top" alt="Card image cap">
						<div class="card-body mx-auto">
							<h5 class="card-title">{{product.name}}</h5>
							<p class="card-text "><b>{{product.price|currency}}</b></p>
						</div>
						<div class="card-footer p-0 no-gutters">

						{% if product|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-light border-right">
							</form>
							<div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-light border-left">
							</form>
						</div>
						{%else%}
							{%if product|get_limit %}
							<form action="/#{{product.id}}" method="POST" class="btn-block">{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<button class="float-right btn btn-light  form-control">
								Item disabled</button>
								</form>
							{%else%}
							<form action="/#{{product.id}}" method="POST" class="btn-block">{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" class="float-right btn btn-light  form-control"
								value="Add To Cart">
							</form>
							{%endif%}

						{% endif %}

						</div>
					</div>
					{%endfor%}
				</div>
			</div>
	</div>
</div>



{%endblock%}
