{%extends 'Partials/login_base.html'%}

{%block title%}Login{%endblock%}

{%block content%}
<div class="container mt-4">

    <div class="p-4 m-4">


        <div class="col-lg-5 rounded mx-auto border pt-4">
            
            <div class="text-center col">
            <h3>Login</h3>
            <hr>
            </div>
            <form action="" method="POST">

                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                {% if msg%}
                <div class="alert alert-info" role="alert">
                    {{msg}}
                </div>
                {% endif %}

                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}"
                    class=" form-control" placeholder="example@gmail.com">
                </div>

                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password"
                    name="password"
                    id=""
                     class="form-control" placeholder="********">
                </div>

                <hr>
                <div class="form-group">
                    <input class="btn btn-sm btn-info" type="submit" value="Login">
                    <a class="mx-auto" href="{%url 'password_reset'%}">Forget Password!</a>
                </div>


            </form>
        </div>
    </div>
</div>
{%endblock%}
